h2 #{fileList.length} file(s)
table.table.table-striped.table-condensed
  thead
    tr
      th #
      th Link
      th Path
      th Size
  each file,index in fileList
    tr
      td #{index + 1}
      td
        a(href='/repos/view/#{repo.full_name}/#{file.path}')
          i.fa.fa-file-o
      td #{file.path}
      td #{file.size}
